TOKEN="BOT TOKEN"

# https://core.telegram.org/bots/api#setwebhook
# A secret token to be sent in a header “X-Telegram-Bot-Api-Secret-Token” in every webhook request,
# 1-256 characters. Only characters A-Z, a-z, 0-9, _ and - are allowed.
# The header is useful to ensure that the request comes from a webhook set by you.
SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

LISTEN_ADDR="127.0.0.1:8005"